body{
    overflow: visible;
}

.container-fluid{
    background: #319795;
    padding: 2px 40px;
    margin-top: -8px;
    margin-bottom: -6px;
}

.navbar-nav{
    position: absolute;
    left: 85%;
    transform: translatex(-50%);
    font-size: 17px;
}

.navbar-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar-nav a:hover {
    background-color: rgb(158, 157, 157);
}

.carousel{
    background: grey;
    z-index: -99999;
}

#navbarNav{
    background-color: aliceblue;
}

h3{
    text-align: center;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(172, 193, 212);
    border-radius: 20px;
}

.masuk{
    background-color: #C4C4C4;
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2%;
    border-radius: 4%;
}

.p{
    text-align: center;
}